{% extends 'portal1/create.html' %}
{% block replace %}



<CENTER>
    <div class="jumbotron">
        <h1 class="display-4">Welcome to the Bill Reimbursement Portal<br>Hello {{ user_pr.name }}</h1>
        <hr class="my-4">
        <p>Confirm your upload</p>
        <img src={{user_pr.bill.url}} class="image_responsive" height="1000px" width="1000px">
        <p>{{user_pr.bill.url}}<br></p>
        <script>
            
        </script>
            
        
    </div>
</CENTER>
{% endblock %}
